{# {% extends "prive.html.twig" %} #}
{% extends "front.html.twig" %}

{# Mes id doievent être uniques
Les noms des id et les name doivent être attachés. #}

{% block stylesheets %}
{{ parent() }}
{# <link rel="stylesheet" href="css/portfolio.css"> #}
<link rel="stylesheet" href="{{asset('css/profil.css')}}">
{% endblock %}

{% block title %} Trouve ton Biscuit {% endblock %}

{% block nav %}
{{ parent() }}
 {# <div class="bgded overlay" style="background-image:url('/images/demo/backgrounds/01.png');"> 

  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <img src="images/oreologo.jpg" class="d-inline-block align-top" style="float: left" alt="">
            <p style="float:right" class="d-inline-block align-top">
                <h1 style="float:right"><a href="{{path('landing')}}"> &nbsp Trouve ton Biscuit </a></h1>
            </p>
        
      </div>
      <!-- ################################################################################################ -->
      {# <nav id="mainav" class="fl_right">
        <ul class="clear">

            <li><a href="{{path('membre_list')}}"> Home <i class="fas fa-home"></i></a></li>
            <li class="active"><a class="drop" href="#"> Bonjour {{app.user.pseudo}} <i class="far fa-user"></i></a> 
                <ul>
                    <li><a href="{{path('prive_profil', {id:app.user.id})}}">Profil <i class="fas fa-user-alt"></i></a></li>
                    <li><a href="{{path('prive_messagerie')}}">Messagerie <i class="far fa-envelope"></i></a></li>
                    <li><a href="{{path('admin3_index')}}">Administration <i class="fas fa-lock"></i></a></li>
                    <li><a href="{{path('logout')}}">  Déconnexion <i class="fas fa-times-circle"></i></a> </li> 
                </ul>
            </li>
          
        </ul>
      </nav> #}
      <!-- ################################################################################################ -->
    {# </header>
  </div>#}

{% endblock %}  

{% block main %}
<body>
<section class="profil">
    <div class="barre-top">
        <div class="profil-barre-top container">
            <section class="profil-block-top-marge row">
                <div class="profil-photos col-4">
                    {# <div>

                        {# <img class="profil-main-img" src="{{asset('images/femme1a.jpg')}}" alt="image-profil"> #}

                        {# <img style="width: 100%" class="profil-main-img" src="{{asset('uploads/images/')}}{{app.user.mainimage}}" alt="image-profil"> #}
                        
                    {# </div> #}
                {# </div> #} 
                    <!-- Button trigger modal -->
                    <div class="profil-main-img" id="img_profil" alt="image-profil">
                        <button type="button" id="bouton-photo-profil" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        <img style="width: 100%" class="profil-main-img" src="{{asset('uploads/images/')}}{{membre.mainimage}}" alt="image-profil">

                    </div>
                        </button>
                </div>
                <!-- MODAL -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                
                                    <h5 class="modal-title" id="exampleModalCenterTitle"> Ajoutez une nouvelle photo <i class="fas fa-sign-in-alt"></i> </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form method="POST" id="toto" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="mainimage">Ajouter une image</label>
                                            <input style="width: 100%" type="file" name="mainimage" class="form-control-file" id="mainimage">
                                        </div>
                                        <button type="submit" class="btn btn-dark col-md-12"> Enregistrer </button>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN MODAL -->

                <div class="profil-main-information col-8">

                <!-- MODIFICATION on click -->
                        
                    <div class="modif-direct">
                        <!-- MODIF PSEUDO -->

                        <form method="POST" id="roro" enctype="multipart/form-data">

                        <div id="status_change" class="margins-top-barre">
                            <div class="icons-inline">
                                <h4 id="pseudo"><a class="help" href="#">{{app.user.pseudo}}</h4><span class="airhelp">Modifier le pseudo</span><i id="icone-pseudo" class="fas fa-pen"></i></a>
                                {# <input type="text" id="pseudo" name="pseudo" placeholder=" ">
                                <input type="submit" id="submitpseudo" name="submitpseudo"> #}
                            </div>
                            <div id="status_cotainer_change">
                                <div class="margins-modif">
                                    <input name="status_val" class="input-direct" type="text" id="status_val">
                                    <button type="submit" id="save_status">Sauvegarder</button>
                                
                                </div>
                            </div>
                        </div>

                        <!-- MODIF VILLE -->
                        <div id="ville_change" class="margins-top-barre">
                            <div class="icons-inline-p">
                                <p id="ville"><a class="help" href="#"><i class="fas fa-map-marker-alt"></i> {{app.user.ville}}</p>
                                <span class="airhelp">Modifier la ville</span><i id="icone-ville" class="fas fa-pen"></i></a>
                            </div>
                            <div id="ville_cotainer_change">
                                <div class="margins-modif">
                                    <input name="ville_val"class="input-direct" type="text" id="ville_val">
                                    <button type="submit" id="save_ville">Sauvegarder</button>
                                </div>
                            </div>
                        </div>
                    </div>
                        <form>

                        <!-- MODIF PHRASE-COURTE -->
                        {# <div id="phrase_change" class="phase-courte margins-top-barre">
                            <div class="icons-inline-p">
                                <p id="phase-courte"><a class="help" href="#">{{app.user.punchline}}</p><span class="airhelp">Modifier la phrase d'accroche</span><i id="icone-phrase" class="fas fa-pen"></i></a>
                            </div>   
                            <div id="phrase_cotainer_change"><!-- la même -->
                                <div class="margins-modif">
                                    <input class="input-direct" type="text" id="phrase_val"><button type="submit" id="save_phrase">Sauvegarder</button>
                                
                                </div>
                            </div>
                        </div> #}
                        <!-- AGE -->
                        <div class="margins-top-barre">
                            <div class="icons-inline-p">
                                <p><i class="fas fa-certificate"></i> {{age}}</p>
                            </div>
                            
                        </div> 
                        
                <!--  END MODIFICATION on click -->
                        <button type="button" class="btn btn-primary" id="bottonprofil"><a href="{{ path('membre_show',{id:app.user.id})}}">Voir mon profil</a></button>        
                                
                    </div>
                </div>
            </section>
        </div>
    </div>

    
 <!-- ZONE HOBBY AND FORMULAIRES -->   
       
    <div class="dating-profile">
        <div class="barre-bas">
            <div class="container">
        
                <section class="dating-profil-main row">
        <!-- ZONE HOBBY --> 
                    <div class="dating-profil-banner-hobby col-4">
                        <div id="description-hobby" class="description">

                            <form method="post" id="">
                            <fieldset  class="form-horizontal dating-profile" id="padding-hobby">
                            <!-- Form Name -->
                                <h2>Je cherche</h2>
                                <div class="form-group row">
                                    <label class="col-md-3 control-label" for="jeveux" id="description-text-hobby">Choisir</label>
                                    <div class="col-md-9">
                                        <select id="jeveux" name="jeveux" class="form-control">

                                            {% for option in optionspersonnes %}
                                                {% if option == app.user.jeveux %}
                                                    <option value="{{option}}" selected>{{option}}</option>
                                                {% else %}
                                                    <option value="{{option}}">{{option}}</option>
                                                {% endif %}
                                            {% endfor %}

                                            {# <option value="1">Homme</option>
                                            <option value="2">Femme</option>
                                            <option value="3">Troisième sexe</option>
                                            <option value="3">Couple hf</option>
                                            <option value="3">Couple hh</option>
                                            <option value="3">Couple ff</option>
                                            <option value="3">Orgie</option> #}
                                        </select>
                                    </div>
                                </fieldset>
                        </div>
                    </div>

        <!-- ZONE INFORMATION FORMULAIRE -->          
                    <div class="dating-profil-formulaires col-8">
                        <div class="formulaire">
            <!-- DESCRIPTION TEXTE-->
                            <div class="description padding-formulaires">
                                <fieldset class="form-horizontal">
                                

                                    <!-- Form Name -->
                                    <h2>Ma description</h2>
                                    <!-- Date naissance -->
                                    <div class="form-group row" >
                                    <label class="col-md-3 control-label" for="jesuis">Date de naissance: </label>
                                        <div class="col-md-9">
                                            <div id="date-naissance">                     
                                                {# <textarea class="form-control" id="Ma description" name="Ma description">{{app.user.description}}</textarea> #}
                                                <input type="date" id="naissance" name="naissance" value="26-03-1966">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- JE SUIS -->
                                    <div class="form-group row">
                                        <label class="col-md-3 control-label" for="jesuis">Je suis : </label>
                                        <div class="col-md-9">

                                            <select id="jesuis" name="jesuis" class="form-control">
                                                {% for option in optionspersonnes %}
                                                    {% if option == app.user.jesuis %}
                                                        <option value="{{option}}" selected>{{option}}</option>
                                                    {% else %}
                                                        <option value="{{option}}">{{option}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>


                                    <!-- Je suis -->
                                {# <div class="form-group row">
                                    <label class="col-md-4 control-label" for="jesuis">Je suis : </label>
                                    <div class="col-md-8">
                                        <select id="jesuis" name="jesuis" class="form-control">
                                            {% for option in optionspersonnes %}
                                                {% if option == app.user.jesuis %}
                                                    <option value="{{option}}" selected>{{option}}</option>
                                                {% else %}
                                                    <option value="{{option}}">{{option}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div> #}
                                    <!-- Textarea -->
                                    {# <div class="form-group" >
                                        <div class="col-md-12" id="description-longue">                     
                                            <textarea class="form-control" id="description" name="description">{{app.user.description}}</textarea>

                                        </div>
                                    </div> #}

                                    
                                    
                                    <!-- Punchline -->
                                    <div class="form-group row" >
                                        <label class="col-md-12 control-label" for="punchline">Ma devise : </label>
                                        <div class="col-md-12" id="description-punchline-modification">                     
                                            <input placeholder="Écrivez une phase qui vous definit le plus!" type="text" class="form-control" id="punchline" name="punchline" value="{{app.user.punchline}}">
                                            
                                        </div>
                                        
                                    </div>

                                                                
                                    <!-- Description longue -->
                                    <div class="form-group" >
                                        <label id="label-description-longue" class="col-md-12 control-label" for="punchline">Decrivez votre personalité et votre partenaire ideal : </label>
                                        <div class="col-md-12" id="description-longue" >                     
                                            <textarea placeholder="Écrivez ce qui vous plait ! Soyez sincère, originale, drôle, touchante, mystérieuse... Surtout, soyez vous-même !" class="form-control" id="description" name="description">{{app.user.description}}</textarea>
                                            
                                        </div>
                                    </div>


                                    

                                </fieldset>
                                    {# </form> #}
                                
                                <p>Les descriptions comportant des coordonnées personnelles (email, téléphone, adresse, nom, etc...), termes ou thèmes incorrects, messages commerciaux, ne correspondant pas à nos CGU ou à l'esprit du service... seront modifiées ou supprimées.</p>
                            </div>

                            <!-- PERSONALITE -->
                            <div class="description padding-formulaires">
                            {# <form> #}
                                <fieldset class="form-horizontal">

                                    <!-- Form Name -->
                                    <h2>Ma personnalité</h2>

                                    <!-- Relation -->
                                    <div class="form-group row">
                                        <label class="col-md-4 control-label" for="selectrelations">Prêt à m'engager dans une relation ?</label>
                                        <div class="col-md-8">

                                            <select id="selectrelations" name="selectrelations" class="form-control">

                                            {% for option in optionsrelations %}
                                                {% if option == app.user.TypeRelation %}
                                                    <option value="{{option}}" selected>{{option}}</option>
                                                {% else %}
                                                    <option value="{{option}}">{{option}}</option>
                                                {% endif %}
                                            {% endfor %}

                                            {# <option value="1">{{app.user.TypeRelation}}</option>
                                            <option value="2">Durable</option>
                                            <option value="3" selected>Sans prise de tête</option>
                                            <option value="4">Sex-friend</option>
                                            <option value="5">One Shot</option> #}
                                            </select>
                                        </div>
                                    </div>

                                <!-- Enfants -->
                                {# <div class="form-group row">
                                <label class="col-md-4 control-label" for="selectbasic">Je veux des enfants :</label>
                                <div class="col-md-8">
                                    <select id="selectbasic" name="selectbasic" class="form-control">
                                    <option value="1">oui</option>
                                    <option value="2">non</option>
                                    <option value="3">rien est décidé</option>
                                    </select>
                                </div>
                                </div> #}

                                </fieldset>

                                <!-- Caractere -->
                                <div class="form-group row">
                                <label class="col-md-4 control-label" for="selectcaracteres">Trait de caractère le plus marqué :</label>
                                <div class="col-md-8">
                                    <select id="selectcaracteres" name="selectcaracteres" class="form-control">

                                            {% for option in optionscaracteres %}
                                                {% if option == app.user.TraitCaractere %}
                                                    <option value="{{option}}" selected>{{option}}</option>
                                                {% else %}
                                                    <option value="{{option}}">{{option}}</option>
                                                {% endif %}
                                            {% endfor %}

                                        {# <option value="1">Aventureux</option>
                                        <option value="2">Calme</option>
                                        <option value="3">Sociable</option>
                                        <option value="4">Drôle</option>
                                        <option value="5">Timide</option>
                                        <option value="6">Extravagant</option> #}

                                    </select>
                                </div>
                                </div>

                                </fieldset>
                            {# </form> #}
                            
                            
                            </div>
                            
            <!-- PHYSIQUE -->
                        <div class="description padding-formulaires">
                            {# <form> #}
                                <fieldset class="form-horizontal">

                                <!-- Form Name -->
                                <h2>Mon physique</h2>

                                <!-- Taille -->
                                <div class="form-group row">
                                <label class="col-md-4 control-label" for="selecttaille">Ma taille :</label>
                                <div class="col-md-8">
                                    <select id="selecttaille" name="selecttaille" class="form-control">

                                            {% for option in optionstailles %}
                                                {% if option == app.user.taille %}
                                                    <option value="{{option}}" selected>{{option}}</option>
                                                {% else %}
                                                    <option value="{{option}}">{{option}}</option>
                                                {% endif %}
                                            {% endfor %}

                                    {# <option value="1">{{app.user.taille}}</option>
                                    <option value="1">140-160</option>
                                    <option value="2">160-170</option>
                                    <option value="3">170-180</option>
                                    <option value="3">180-190</option> #}
                                    </select>
                                </div>
                                </div>

                                <!-- Ma silhouette : -->
                                <div class="form-group row">
                                <label class="col-md-4 control-label" for="selectsilhouette">Ma silhouette :</label>
                                <div class="col-md-8">
                                    <select id="selectsilhouette" name="selectsilhouette" class="form-control">

                                            {% for option in optionssilhouettes %}
                                                {% if option == app.user.silhouette %}
                                                    <option value="{{option}}" selected>{{option}}</option>
                                                {% else %}
                                                    <option value="{{option}}">{{option}}</option>
                                                {% endif %}
                                            {% endfor %}

{# 
                                    <option value="1">{{app.user.silhouette}}</option>
                                    <option value="1">normal</option>
                                    <option value="2">sportif</option>
                                    <option value="3">mince</option>
                                    <option value="3">mince</option>
                                    <option value="3">quelques kilos en trop</option>
                                    <option value="3">ronde</option> #}
                                    </select>
                                </div>
                                </div>

                                <!-- Mes yeux : -->
                                <div class="form-group row">
                                <label class="col-md-4 control-label" for="selectyeux">Mes yeux :</label>
                                <div class="col-md-8">
                                    <select id="selectyeux" name="selectyeux" class="form-control">
                                    

                                            {% for option in optionsyeux %}
                                                {% if option == app.user.yeux %}
                                                    <option value="{{option}}" selected>{{option}}</option>
                                                {% else %}
                                                    <option value="{{option}}">{{option}}</option>
                                                {% endif %}
                                            {% endfor %}

                                    {# <option value="1">{{app.user.yeux}}</option>
                                    <option value="1">marron</option>
                                    <option value="2">bleus</option>
                                    <option value="3">verts</option>
                                    <option value="3">noisettes</option>
                                    <option value="3">gris</option> #}
                                    </select>
                                </div>
                                </div>

                                <!-- Mes cheveux :  -->
                                <div class="form-group row">
                                <label class="col-md-4 control-label" for="selectcheveux">Mes cheveux : </label>
                                <div class="col-md-8">
                                    <select id="selectcheveux" name="selectcheveux" class="form-control">


                                            {% for option in optionscheveux %}
                                                {% if option == app.user.cheveux %}
                                                    <option value="{{option}}" selected>{{option}}</option>
                                                {% else %}
                                                    <option value="{{option}}">{{option}}</option>
                                                {% endif %}
                                            {% endfor %}

                                    {# <option value="1">{{app.user.cheveux}}</option>
                                    <option value="1">chatains</option>
                                    <option value="2">noirs</option>
                                    <option value="3">blonds</option>
                                    <option value="3">blancs</option>
                                    <option value="3">roux</option>
                                    <option value="3">autres</option> #}
                                    </select>
                                </div>
                                </div>

                                </fieldset>
                            {# </form> #}
                            
                            
                            </div>
            <!-- MON MODE DE VIE -->
                        <div class="description padding-formulaires">
                            {# <form> #}
                                <fieldset class="form-horizontal">

                                <!-- Form Name -->
                                <h2>Mon mode de vie</h2>

                                <!-- Mon statut marital : -->
                                <div class="form-group row">
                                <label class="col-md-4 control-label" for="selectstatut">Mon statut marital :</label>
                                <div class="col-md-8">

                                    <select id="selectstatut" name="selectstatut" class="form-control">

                                            {% for option in optionsstatut %}
                                                {% if option == app.user.statut %}
                                                    <option value="{{option}}" selected>{{option}}</option>
                                                {% else %}
                                                    <option value="{{option}}">{{option}}</option>
                                                {% endif %}
                                            {% endfor %}
{# 
                                        <option value="1">jamais marié</option>
                                        <option value="2">divorcé</option>
                                        <option value="3">veuve</option> #}

                                    </select>
                                </div>
                                </div> 

                                <!-- Je fume :  -->
                                <div class="form-group row">
                                <label class="col-md-4 control-label" for="selectfume">Je fume : </label>
                                <div class="col-md-8">
                                    <select id="selectfume" name="selectfume" class="form-control">
                                    {# <option value="1">{{app.user.fume}}</option>
                                    <option value="1">Un peu</option>
                                    <option value="1">Beaucoup</option>
                                    <option value="1">Enormement</option>
                                    <option value="2">Jamais</option> #}

                                            {% for option in optionsfume %}
                                                {% if option == app.user.fume %}
                                                    <option value="{{option}}" selected>{{option}}</option>
                                                {% else %}
                                                    <option value="{{option}}">{{option}}</option>
                                                {% endif %}
                                            {% endfor %}

                                    </select>
                                </div>
                                </div>

                            <!-- Je mange :  -->
                                <div class="form-group row">
                                <label class="col-md-4 control-label" for="selectmange">Je mange : </label>
                                <div class="col-md-8">
                                    <select id="selectmange" name="selectmange" class="form-control">


                                            {% for option in optionsmange %}
                                                {% if option == app.user.mange %}
                                                    <option value="{{option}}" selected>{{option}}</option>
                                                {% else %}
                                                    <option value="{{option}}">{{option}}</option>
                                                {% endif %}
                                            {% endfor %}


                                    {# <option value="1">{{app.user.mange}}</option>
                                    <option value="1">tout</option>
                                    <option value="2">végétarien</option>
                                    <option value="3">hallal</option>
                                    <option value="3">casher</option> #}
                                    </select>
                                </div>
                                </div>

                                <!-- Mes animaux de compagnie :   -->
                                <div class="form-group row">

                                <label class="col-md-4 control-label" for="selectanimaux">Mes animaux de compagnie :  </label>

                                <div class="col-md-8">
                                    <select id="selectanimaux" name="selectanimaux" class="form-control">

                                            {% for option in optionsanimaux %}
                                                {% if option == app.user.animaux %}
                                                    <option value="{{option}}" selected>{{option}}</option>
                                                {% else %}
                                                    <option value="{{option}}">{{option}}</option>
                                                {% endif %}
                                            {% endfor %}
                                    </select>
                                </div>
                                </div>

                                <!-- Mes hobbies :   -->
                                <div class="form-group row">
                                <label class="col-md-4 control-label" for="selecthobby">Mes centres d'intérêt :  </label>
                                <div class="col-md-8">
                                    <select id="selecthobby" name="selecthobby" class="form-control">

                                            {% for option in optionshobby %}
                                                {% if option == app.user.hobby %}
                                                    <option value="{{option}}" selected>{{option}}</option>
                                                {% else %}
                                                    <option value="{{option}}">{{option}}</option>
                                                {% endif %}
                                            {% endfor %}
                                    </select>
                                </div>
                                </div>
                                </fieldset>

                                <!-- Button -->
                                <div class="form-group button-enregistrer">
                                
                                    <button id="submit" name="submit" class="btn btn-primary">Enregistrer les modifications</button>
                                </div>
                                </div>
                            </form>
                        
                        
                        </div>
                    
                    <div>
                 </section>
           </div>
        </div>
    </div>
    
</section>

<script>

$(document).ready(function()
{
    ///////// PSEUDO
    // open
    $('#icone-pseudo').click(function(){
        $('#status_val').val($('#pseudo').text());
        $('#status_cotainer_change').show();
        $('#pseudo').hide();
        $('#icone-pseudo').hide();
        
        
    });
    
    // save
    $('#save_status').click(function(){
        $('#pseudo').text($.trim($('#status_val').val()))
        $('#status_cotainer_change').hide();
        $('#pseudo').show();
        $('#icone-pseudo').show();
       
    });
})


///////// PHRASE-COURTE
{# $(document).ready(function()
{
    // open
    $('#icone-phrase').click(function(){
        $('#phrase_val').val($('#phrase-courte').text());
        $('#phrase_cotainer_change').show();
        $('#phrase-courte').hide();
        $('#icone-phrase').hide();
        
        
    });
    
    // save
    
    $('#save_phrase').click(function(){
        $('#phrase-courte').text($.trim($('#phrase_val').val()))
        $('#phrase_cotainer_change').hide();
        $('#phrase-courte').show();
        $('#icone-phrase').show();
       
    });
    
}) #}


///////// AGE
{# $(document).ready(function()
{
    // open
    $('#icone-age').click(function(){
        $('#age_val').val($('#age').text());
        $('#age_cotainer_change').show();
        $('#age').hide();
        $('#icone-age').hide();
        
        
    });
    
    // save
    
    $('#save_age').click(function(){
        $('#age').text($.trim($('#age_val').val()))
        $('#age_cotainer_change').hide();
        $('#age').show();
        $('#icone-age').show();
       
    });
    
}) #}



///////// VILLE
$(document).ready(function()
{
    // open
    $('#icone-ville').click(function(){
        $('#ville_val').val($('#ville').text());
        $('#ville_cotainer_change').show();
        $('#ville').hide();
        $('#icone-ville').hide();
        
        
    });
    
    // save
    $('#save_ville').click(function(){
        $('#ville').text($.trim($('#ville_val').val()))
        $('#ville_cotainer_change').hide();
        $('#ville').show();
        $('#icone-ville').show();
       
    });
    
})







</script>


</body>

{% endblock %}


{# {% block footer %}
<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
   <!-- ################################################################################################ -->
    <div id="ctdetails" class="clear">
      <ul class="nospace clear">
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong> Problème technique ?:</strong> support@domain.com</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Du Lundi - Vendredi :</strong> 09.00am - 18.00pm</span></div>
        </li>
        <li>
          <p> &copy; 2018 Trouve ton biscuit - Projet Alejandro,Margarita,Emmanuel,Emeline. </p>
      </ul>

    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
{% endblock %} #}

