<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{asset('css/sb-admin.css')}}" rel="stylesheet">
    
   
    
    <link rel="stylesheet" href="/css/framework.css">
    <link rel="stylesheet" href="/css/layout.css">

</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">



            <!-- BARRE SUPERIEURE AVEC LOGO OREO -->

           
    </nav> 
            
    <div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');"> 

  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <img src="{{asset ('images/logo1.png')}}" class="d-inline-block align-top" style="float: left" alt="">
            <p style="float:right" class="d-inline-block align-top">
                <h1 style="float:right"><a href="{{path('landing')}}"> &nbsp Trouve ton Biscuit </a></h1>
            </p>

      </div>
      <!-- ################################################################################################ -->
      <nav id="mainav" class="fl_right">
        <ul class="clear">

            <li><a href="{{path('membre_list')}}"> Home <i class="fas fa-home"></i></a></li>
            <li class="active"><a class="drop" href="#"> Bonjour <i class="far fa-user"></i></a> 
                <ul>
                    <li><a href="{{path('prive_profil', {id:app.user.id})}}"> Profil <i class="fas fa-user-alt"></i></a></li>
                    <li><a href="{{path('prive_messagerie')}}"> Messagerie <i class="far fa-envelope"></i></a></li>
                    <li><a href="{{path('logout')}}">  Déconnexion <i class="fas fa-times-circle"></i></a> </li> 
                </ul>
            </li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
        </ul>
    



    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            {# <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin3_Users_management') }}">
                    <span>To Users Management</span>
                </a>
            </li> #}
            <li>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header">Login Screens:</h6>
                    <a class="dropdown-item" href="login.html">Login</a>
                    <a class="dropdown-item" href="register.html">Register</a>
                    <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Other Pages:</h6>
                    <a class="dropdown-item" href="404.html">404 Page</a>
                    <a class="dropdown-item" href="blank.html">Blank Page</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin3_index') }}"> To admin <i class="fas fa-wrench"></i></a>
                
                
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin3_admin_mails') }}">  Mails recept <i class="fas fa-envelope"></i></a>
                
                
               
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin3_admin_tasks') }}"> Tasks <i class="fas fa-fw fa-table"></i></a>
                
                
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin3_moderation') }}">  Moderation <i class="fas fa-lock"></i></a>
                
                
               
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{{ path('admin3_permissions') }}"> Permissions <i class="fas fa-lock"></i></a>
                
               
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{{ path('admin3_send_mailing') }}"> Send_mailing <i class="fas fa-envelope"></i></a>
                </li>
             <li class="nav-item">
                <a class="nav-link" href="{{ path('admin3_private_messages') }}"> Private_messages <i class="fas fa-envelope"></i></a>
               </li>
        </ul>
        
        <div id="content-wrapper">

            <div class="container-fluid">

                {% block container_fluid %}{% endblock %}

                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © Alejandro, Emeline, Emmanuel, Margarita 2018</span>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


</body>

</html>

