<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            {# <link rel="stylesheet" href="/css/fontawesome-all.min.css"> #}
            <link rel="stylesheet" href="/css/framework.css">
            <link rel="stylesheet" href="/css/layout.css">
        {% endblock %}
    </head>
    <body>
        {# <nav class="nav">
            <a class="nav-link" href="{{ path('landing')}}">Zé landing page</a>
            <a class="nav-link" href="{{ path('membre_list')}}">Liste membres</a>
            <a class="nav-link" href="{{ path('membre_show')}}">Show membre</a>
            <a class="nav-link" href="{{ path('prive_profil')}}">Editer profil</a>
            <a class="nav-link" href="{{ path('prive_messagerie')}}">Messagerie</a>
            <a class="nav-link" href="{{ path('admin_membres')}}">Gestion membres</a>
            <a class="nav-link" href="{{ path('admin_config')}}">Configuration site</a>
        </nav> #}


<nav>
    {% block nav %}
    {% endblock %}
</nav>




{% block tracabilite %}{% endblock %}

{% block main %}
    <main style='min-height:80vh;'>Template base.html.twig</main>
{% endblock %}

<footer>
    {% block footer %}
    {% endblock %}
</footer>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock %}

    </body>
</html>