{% extends "base.html.twig" %}

{% block tracabilite %}
{% endblock %}

{% block nav %}

<div class="bgded overlay" style="background-image:url('/images/demo/backgrounds/01.png');"> 

  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <img src="{{asset ('images/logo1.png')}}" class="d-inline-block align-top rotate" style="float: left" alt="">
            <p style="float:right" class="d-inline-block align-top">
                <h1 style="float:right"><a href="{{path('landing')}}"> &nbsp Trouve ton Biscuit </a></h1>
            </p>

      </div>
      <!-- ################################################################################################ -->
      <nav id="mainav" class="fl_right">
        <ul class="clear">

            <li><a href="{{path('membre_list')}}"> Home </a></li>
            {# <i class="fas fa-home"></i> #}
            <li class="active"><a class="drop" href="#"> Bonjour {{app.user.pseudo}} <i class="far fa-user"></i></a> 
                <ul>
                    <li><a href="{{path('prive_profil', {id:app.user.id})}}">Profil <i class="fas fa-user-alt"></i></a></li>
                    <li><a href="{{path('prive_messagerie')}}">Messagerie <i class="far fa-envelope"></i></a></li>
                    <li><a href="{{path('admin3_index')}}">Administration <i class="fas fa-lock"></i></a></li>
                    <li><a href="{{path('logout')}}">  Déconnexion <i class="fas fa-times-circle"></i></a> </li> 
                </ul>
            </li>

        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>


        {#
        <div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');"> 

  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="../index.html">Yeinydd</a></h1>
      </div>
      <!-- ################################################################################################ -->
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li><a href="{{path('landing')}}">Home</a></li>
          <li class="active"><a class="drop" href="#">Pages</a>
            <ul>
              <li><a href="gallery.html">Gallery</a></li>
              <li class="active"><a href="{{path('membre_list')}}">Liste</a></li>
              <li><a href="{{path('membre_show', {id:app.user.id})}}">Show</a></li>
              <li><a href="{{path('prive_profil', {id:app.user.id})}}">Profil</a></li>
              <li><a href="{{path('prive_messagerie')}}">Messagerie</a></li>
              <li><a href="{{path('admin_config')}}">Font Icons</a></li>
              <li><a href="{{path('admin_membres')}}">Font Icons</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Dropdown</a>
            <ul>
              <li><a href="#">Level 2</a></li>
              <li><a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                  <li><a href="#">Mes biscuits favoris</a></li>
                  <li><a href="#">Les mauvais biscuits</a></li>
                  <li><a href="#">Level 3</a></li>
                </ul>
              </li>
              <li><a href="#">Level 2</a></li>
            </ul>
          </li>
          <li><a href="#">Link Text</a></li>
          <li><a href="#">Link Text</a></li>
          <li><a href="#">Link Text</a></li>
          <li><a href="{{path('logout')}}">{{app.user.pseudo}} [Déconnexion]</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
#}
{% endblock %}




 {% block footer %}

<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="group btmspace-80">
      <div class="one_third first">
        <h6 class="heading">Qui sommes nous </h6>
        <p>Nous sommes une jeune equipe qui a crée ce site internet pour vous donner une possibilité de rencontrer l'amour de votre vie.</p>
        

      </div>
      <div class="one_third">
        <h6 class="heading">Inscrivez-vous à notre Newsletter</h6>
        <p class="nospace btmspace-15">Merci de remplir votre nom et votre adresse email ci-dessous:</p>
        <form method="post" action="#">
          <fieldset>
            <legend>Newsletter:</legend>
            <input class="btmspace-15" type="text" value="" placeholder="Name">
            <input class="btmspace-15" type="text" value="" placeholder="Email">
            <button type="submit" value="submit">Envoyer</button>
          </fieldset>
        </form>
      </div>
      
    </div>
    <!-- ################################################################################################ -->
    <div id="ctdetails" class="clear">
      <ul class="nospace clear">
        <li class="one_quarter first">
          <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Appelez nous:</strong> +00 (123) 456 7890</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Envoyez nous un email:</strong> support@domain.com</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Monday - Saturday:</strong> 08.00am - 18.00pm</span></div>
        </li>
        <li class="one_quarter">
          <span><strong>&copy; Creé par WebForce3 Trappes 2018</strong> <a href="#"></a></span>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>


{% endblock %}