{% extends 'test.html.twig' %}    


{% block body %}
<pre>
    {{ dump(membres) }}
</pre>
<form action="" method="post" id="form">
    <select>
        {% for membre in membres %}
            <option value="{{membre.id}}">{{membre.pseudo}}</option>
        {% endfor %}
    </select>
    <select>
        {% for membre in membres %}
            <option value="{{membre.id}}">{{membre.pseudo}}</option>
        {% endfor %}
    </select>
    <textarea></textarea>
</form>



{% endblock %}