{% extends 'test.html.twig' %}
{% block body %}
    <h2>Bienvenue,{{ app.user.pseudo }}</h2>
    <div style="text-align:right">
        {% if app.user is not null %}
            <p>Connecté en tant que <strong>{{app.user.pseudo}}</strong> (<a href="{{path('test_logout')}}">Déconnexion</a>).</p>
        {% else %}
            <p>Utilisateur anonyme (<a href="{{path('test_login')}}">connexion</a>).</p>
        {% endif %}
    </div>
    <p>Voici le secret à garder précieusement :</p>
    <p>
        <strong>
            <em>Ce n'est pas nous qui codons les applications ; ce sont les applications qui nous décodent.</em>
            <strong></p>
    <div>
        <a href="{{path('test_list')}}">Liste de membres</a>
        <a href="{{path('test_messagerie')}}">Messagerie</a>
    </div>
{% endblock %}