{% extends 'test.html.twig' %}
{% block body %}

    <h2>{{membre.pseudo}}</h2>
    <div style="text-align:right">
        {% if app.user is not null %}
            <p>Connecté en tant que
                <strong>{{app.user.pseudo}}</strong>
                (<a href="{{path('test_logout')}}">Déconnexion</a>).</p>
        {% else %}
            <p>Utilisateur anonyme (<a href="{{path('test_login')}}">connexion</a>).</p>
        {% endif %}
    </div>
    <p>Contacter au
        {{membre.email}}</p>

    <p>Ville : {{membre.ville}}</p>
    <p>Age : {{age}}
    <p>
        <a href="{{path('test_list')}}">Liste des membres</a>
    </p>

    {% if is_granted('ROLE_USER') %}
        {% if membre.id == app.user.id %}
            <p>
                <a href="{{path('test_edit', {id: membre.id }) }}">Edit
                    {{membre.pseudo}}</a>
            </p>

            <p>
                <a href="{{path('test_edit_presentation', {id: membre.id }) }}">Edit Présentation</a>
            </p>


            <p>
                <a href="{{path('test_delete', {id: membre.id }) }}">Supprimer
                    {{membre.pseudo}}</a>
            </p>
        {% else %}
            <p>
                <a href="{{path('test_newmessage', {id: membre.id }) }}">Ecrire à
                    {{membre.pseudo}}</a>
            </p>
        {% endif %}
    {% endif %}

    {% if membre.mainimage is not null %}
        <img src="/uploads/images/{{membre.mainimage}}" width="200px">
    {% endif %}
    <div>
        <div style="display:inline-block;border:1px solid black;width:45%;padding:5px;">
        <h3>Ma présentation</h3>
        <p>{{presentation.presentation}}</p>
        <p>Je suis : {{presentation.type_personne}}</p>
        <p>Champ non défini : {{presentation.type_relation}}</p>
        </div>

        <div style="display:inline-block;border:1px solid black;width:45%;padding:5px;">
        <h3>Je cherche</h3>
        <p>{{recherche.titre_recherche}} </p>
        <p>La personne que je cherche : {{recherche.type_personne}}</p>
        <p>La relation que je cherche : {{recherche.type_relation}}</p>
       
        </div>
    </div>

    {# {{dump(membre)}} #}
    {{dump(presentation)}}
    {{dump(recherche)}}
{% endblock %}